.blocks img {
    -webkit-transition-property: all;
    -webkit-transition-duration: .4s;
}

.blocks img:hover {
    transform: scale(1.05);
}

.blocks {
    color: white;
    padding: 10px 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-bottom: 100px;
}

.blocks h5 {
    font-weight: normal;
}

.block-content {
    display: flex;
}

.block-content img {
    border-radius: 0px;
    width: 100%;
}

.block {
    background-color: #2e3856;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    cursor: pointer;
}

/* filter bar */

.bar-filter {
    padding: 10px 0px;

}

.bar-filter li {
    margin-right: 20px;
}


.selected-item {
    color: white;
}

.btn-sort {
    border: 0 !important;
    background-color: #31589a;
}


.img_acticle {
    width: auto;
    height: auto;
    overflow: hidden;
}

img {
    transition: transform 0.25s;
}

.img_acticle:hover img {
    transform: scale(1.1);
}

